[user]
  name = Amanibhavam
  email = iam@defn.sh
[push]
  default = simple
[core]
  quotepath = false
[url "git@github.com:"]
  insteadOf = git://github.com/
  insteadOf = ssh://git@github.com/
  insteadOf = git@github.com:
[credential]
  helper = !aws codecommit credential-helper $@
  UseHttpPath = true
