credentials:
  system:
    domainCredentials:
    - credentials:
      - vaultTokenFileCredential:
          filepath: "/vault/token"
          id: "VaultToken"
          scope: GLOBAL
      - usernamePassword:
          id: "GitHub"
          password: "${GITHUB_TOKEN}"
          scope: GLOBAL
          username: "yourusername"
      - string:
          id: "GitHub Token"
          scope: GLOBAL
          secret: "${GITHUB_TOKEN}"

unclassified:
  hashicorpVault:
    configuration:
      engineVersion: 2
      skipSslVerification: true
      vaultCredentialId: "VaultToken"
      vaultUrl: "http://127.0.0.1:8200"
  location:
    adminAddress: "your@email"
    url: "https://your.domain"
  gitHubConfiguration:
    apiRateLimitChecker: ThrottleOnOver
  gitHubPluginConfig:
    configs:
    - credentialsId: "GitHub Token"
      name: "github"
    hookUrl: "${JENKINS_URL}/github-webhook/"
  buildStatusConfig:
    enableGithub: true

jenkins:
  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: false
  globalNodeProperties:
  - envVars:
      env:
      - key: "DOCKER_CERT_PATH"
        value: "/certs/client"
      - key: "DOCKER_HOST"
        value: "tcp://127.0.0.1:2376"
      - key: "DOCKER_TLS_VERIFY"
        value: "1"
      - key: "VAULT_ADDR"
        value: "http://127.0.0.1:8200"
