tunnel: tunnelname
credentials-file: /etc/cloudflared/yourguid.json
protocol: http2
metrics: 0.0.0.0:8099

ingress:
  - hostname: yourdns
    service: http://yourorigin
    originRequest:
      disableChunkedEncoding: true
  - hostname: yourdns
    service: ssh://localhost:2222
  - service: http_status:404
