tunnel: tunnelname
credentials-file: /etc/cloudflared/yourguid.json
protocol: http2

ingress:
  - hostname: yourdns
    service: http://yourorigin
    originRequest:
      disableChunkedEncoding: true
  - service: http_status:404
